altgraph==0.17.4
black==24.4.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.0
dill==0.3.8
et-xmlfile==1.1.0
idna==3.7
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jeepney==0.8.0
keyring==25.2.1
lxml==5.3.0
more-itertools==10.3.0
multiprocess==0.70.16
mypy-extensions==1.0.0
numpy==2.1.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pathos==0.3.2
pathspec==0.12.1
platformdirs==4.2.2
pox==0.3.4
ppft==1.7.6.8
pycparser==2.22
PyExecJS==1.5.1
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyQt5==5.15.11
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
pyqtdeploy==3.3.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
SecretStorage==3.3.3
setuptools==73.0.0
six==1.16.0
toml==0.10.2
tqdm==4.66.5
translators==5.9.2
tzdata==2024.1
urllib3==2.2.2
