<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <!-- FOR DEVELOPMENT (I don't have time right now to figure how does it work
  <link rel="stylesheet" href="{{ '/assets/styles.css' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ '/assets/favicon.ico' | prepend: site.baseurl}}">
  <script src="{{ '/assets/scripts.js' | prepend: site.baseurl }}"></script>
  -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.ico">
  <script src="{{ site.baseurl }}/assets/scripts.js"></script>
</head>
<body onresize="handleResize()">
	<!--
  <div class="sidebar">
    <h2>Sidebar</h2>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/about' | relative_url }}">About</a></li>
    </ul>
  </div>
  -->
	<div id="main" class="contentDiv">
		<div id="postsDiv" class="sidebar">
			<span class="sidebarItem"><img src="{{ "assets/topnavlogo.png" | relative_url}}"></span>
			<h2 class="sidebarItem"><a id="sidebarhome" href="/">Home</a></h2>
			<h2 class="sidebarItem"><a id="sidebardownloads" href="/downloads">Download Now!</a></h2>
			<h2 class="sidebarItem"><a id="sidebarposts"href="/posts">Posts</a></h2>
			{% for post in site.categories.release %}
			<h3 class="sidebarItem"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
			{% break %}
			{% endfor %}
  		</div>
  		<div id="mainContent" class="content" onClick="handleMainContentClick()">
  			<nav>
				<span id="logoContent"><img src="{{ "assets/topnavlogo.png" | relative_url}}"></span>
				<h1><span id="py">Py</span><span id="clocks">Clocks</span></h1>
			</nav>
			<div class="content2">
    			{{ content }}
			</div>
		</div>
		<div id="hamburgerClosed" class="hamburger" onClick="showSidebar()">
			<div class="hambars">
				<div class="hambar"></div>
				<div class="hambar"></div>
				<div class="hambar"></div>
			</div>
		</div>
	</div>
</body>
</html>

